<section id="time-calculator__section">
    <div class="container">
        <div class="time-calculator-line"></div>
    <h1 class="time-calculator__title">Калькулятор часу</h1>
    <div class="time-calculator__list">
        <ul class="time-input__list">
            <input class="input-time__calculator" type="text submit" placeholder="Введіть число" id="start-timer">
            <button type="submit" class="time-button__calculator">  </button>
        </ul>
            <img class="time-calc__stroke" src="./images/calculator-of-time/Vector-2.png" alt="vector">
            <p class="time-calc__time">час</p>
    </div>
    </div>
</section> 
