<div class="first-page-backdrop">
    <form class="first-page-backdrop__background-modal">
        <button class="first-page-backdrop__close" type="button">
            <svg class="first-page-backdrop__close-svg">
                <use href="./images/first-page/first-page-symbol-defs.svg#icon-close"></use>
            </svg>
        </button>
        <p class="first-page-backdrop__description">Привіт!<br>
            Ви потрапили на сайт інтерактивних ігор та завдань<br>
            Надіємось, що вам сподобається і ви отримаєте позитивні емоції!<br>
            Бажаємо Вам гарно провести час!</p>
        <p class="first-page-backdrop__write-your-name">Введіть своє ім’я:</p>
        <input type="text" placeholder="Ваше ім’я..." class="first-page-backdrop__input">
        <br>
        <button type="submit" class="first-page-backdrop__save">Зберегти</button>
        <svg class="first-page-backdrop__img first-page-backdrop__first-img">
            <use href="./images/first-page/first-page-symbol-defs.svg#icon-sword"></use>
        </svg>
        <svg class="first-page-backdrop__img first-page-backdrop__second-img">
            <use href="./images/first-page/first-page-symbol-defs.svg#icon-game-controller"></use>
        </svg>
        <svg class="first-page-backdrop__img first-page-backdrop__third-img">
            <use href="./images/first-page/first-page-symbol-defs.svg#icon-puzzle"></use>
        </svg>
        <svg class="first-page-backdrop__img first-page-backdrop__forth-img">
            <use href="./images/first-page/first-page-symbol-defs.svg#icon-tic-tac-toe"></use>
        </svg>
    </form>
</div>