<section id="guess-the-number-section">
    <div class="container">
        <div class="guess-the-number__line"></div>
        <h1 class="guess-the-number__title">Вгадай число, яке загадав комп’ютер</h1>
        <input type="text" class="guess-the-number__input" placeholder="Введіть число">
        <button type="button" class="guess-the-number__button">
            <svg class="guess-the-number__svg">
                <use href="./images/guess-the-number/guess-the-number-symbol-defs.svg#icon-dandruff"></use>
            </svg>
        </button>
        <p class="guess-the-number__text"></p>
    </div>
</section>