<section id="our-team">
    <div class="container">
        <div class="our-team__line"></div>
        <h3 class="our-team__title">Наша команда</h3>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="our-team__box">
                  <img class="worker-img" src="./images/our-team/pasha.jpg" alt="">
                  <h5 class="worker-name">Паша</h5>
                  <p class="worker-work">ScramMaster</p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="our-team__box">
                  <img class="worker-img" src="./images/our-team/marko.jpg" alt="">
                  <h5 class="worker-name">Марко</h5>
                  <p class="worker-work">TeamLead</p>
                </div>
              </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
          </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>